/* Estilos para o componente Header */
header {
  background-color: #f2f2f2;
  padding: 10px;
}

.navbar {
  display: flex;
  align-items: center;
}

.logo img {
  width: 50px;
  height: 50px;
}

.nav-links {
  list-style: none;
  display: flex;
  margin-left: auto;
}

.nav-links li {
  margin-right: 10px;
}

.nav-links a {
  text-decoration: none;
  color: #333;
  font-weight: bold;
}
